{% extends 'Posts/post_list.html' %}

{% block title %}
<title>Post {{tipo_vista}}</title>
{% endblock title %}
{% block body_block%}
<div class="container">
    {% if tipo_vista == "create" %}
        <h2>Crear Post</h2>
    {% else %}
        <h2>Actualizar Post</h2>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'post:list'%}"> Salir sin guardar </a>
</div>
{%endblock body_block%}