{% extends 'Posts/post_list.html' %}
{% block title %}
Post delate
{% endblock title %}
{% block body_block%}
<div class="container">
    <h3>¿Esta seguro que quiere eliminar el post: "{{post.title}}"?</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-danger">Eliminar</button>       
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'post:list'%}"> Salir sin guardar </a>
    </form>
</div>
{%endblock body_block%}