{% extends 'Posts/post_list.html' %}
{% load static %}
{% block title %}
About
{% endblock title %}

{%block navbar_block%}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-shrink" id="mainNav">   
{%endblock navbar_block%}

{% block body_block%}
    <section class="page-section bg-light">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Developers</h2>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src={%static "img/team/27.jpg"%} alt="..." />
                        <h4>Elmer Estrada</h4>
                        <br>
                        <a class="btn btn-dark btn-social mx-2" href="mailto:elmerestrada27@gmail.com"><i class="fa fa-envelope"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href='https://www.linkedin.com/in/elmerestrada27'><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src={%static "img/team/28.jpeg"%} alt="..." />
                        <h4>Ezequiel Barletta Paz</h4>
                        <br>
                        <a class="btn btn-dark btn-social mx-2" href="mailto:ezequielbarletta@hotmail.com"><i class="fa fa-envelope"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ezequielbarlettapaz/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{%endblock body_block%}


{%block js_block%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> 
{%endblock js_block%}