{% extends 'Posts/post_list.html' %}

{% block title %}
User {{tipo_vista}}
{% endblock title %}
{% block body_block%}
<div class="container">
    <h2>Buscar usuario</h2>
    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <br>
    {% if encontro %}
        <h4>Usuarios encontrados:</h4>
        {% for usuario in users %}
        <li>{{usuario}}</li>
    {% endfor %}
    {% else %}
        <h4>No se busco nada..</h4>
    {% endif %}
    

    

</div>
{%endblock body_block%}
