{% extends 'Users/login.html' %}

{% block title %}
    Perfil
{% endblock title %}

{% block body_block%}

    <body class="bg-light">

        <div class="container">
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <br>
                    <br>
                    <img class="d-block mx-auto mb-4" src="https://www.svgrepo.com/show/290105/user-business-and-finance.svg" alt="" >
                </div>
        
                <div class="col-md-8 order-md-1">
                    <h1 class="mb-3">Cambiar contraseña</h1>
                    <hr>
                    <form method="post" action={% url 'user:change_password'%>
                        {% csrf_token %} 

                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label }}
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="btn btn-success">Change password</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </body>

{%endblock body_block%}