{% extends 'Users/login.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock title %}

{% block body_block%}

    <body class="bg-light">
        <div class="container">
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <br>
                    <br>
                    <img class="d-block mx-auto mb-4" src={%static "/img/user_register.svg"%} alt="" >
                </div>
        
                <div class="col-md-8 order-md-1">
                    <h1 class="mb-3">Cambiar contraseña</h1>
                    <hr>
                    <form method="post"%>
                        {% csrf_token %} 
                        <div class="mb-3">
                            <h6>Contraseña actual</h6>
                            <input type="password" class="form-control" name="old_password" required>
                        </div>
                        <div class="mb-3">
                            <h6>Nueva contraseña</h6>
                            <input type="password" class="form-control" name="new_password1" required>
                        </div>
                        <div class="mb-3">
                            <h6>Confirmar contraseña</h6>
                            <input type="password" class="form-control" name="new_password2" required>

                        </div>
                        <div class="py-4 text-center d-grid gap-2 col-5 mx-auto">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        </div>
                 
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                {{ error.message }}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    

                    </form>
                </div>
            </div>
        </div>
    </body>

{%endblock body_block%}