{% extends 'Users/login.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock title %}

{% block body_block%}

    <body class="bg-light">
        <div class="container">
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <br>
                    <br>
                    <img class="d-block mx-auto mb-4" src={%static "/img/user_register.svg"%} alt="" >
                </div>

                <div class="col-md-8 order-md-1">
                    <h1 class="mb-3">Datos personales</h1>
                    <hr>
                    <form method="post" action="">
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <h6>Nombre</h6>
                                {{form.first_name}}
                            </div>
                            <div class="col-md-6 mb-3">
                                <h6>Apellido</h6>
                                {{form.last_name}}
                            </div>
                        </div>

                        <div class="mb-3">
                            <h6>Username</h6>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                {{form.username}}
                            </div>
                        </div>

                        <div class="mb-3">
                            <h6>Email</h6>
                            {{form.email}}
                        </div>

                        <div class="py-4 text-center d-grid gap-2 col-5 mx-auto">
                            <hr>
                            <button class="btn btn-primary btn-lg btn-block" type="submit"> Guardar datos </button>
                        </div>
                    </form>
                    <div class="text-center d-grid gap-2 col-5 mx-auto">
                        <hr>
                        {% comment %} <a class="btn btn-primary btn-lg btn-block" href='#!'>Cambiar contraseña</a> {% endcomment %}
                        <a class="btn btn-secondary btn-lg btn-block" href={% url 'user:change_password' %}>Cambiar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

{%endblock body_block%}